*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Harrington-Regular';
    src:  url('https://aniesha08.github.io/cart310/tree/emotions/fonts/Harrington-Regular.ttf.woff') format('woff'),
    url('https://aniesha08.github.io/cart310/tree/emotions/fonts/Harrington-Regular.ttf.svg#Harrington-Regular') format('svg'),
    url('https://aniesha08.github.io/cart310/tree/emotions/fonts/Harrington-Regular.ttf.eot'),
    url('https://aniesha08.github.io/cart310/tree/emotions/fonts/Harrington-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body{
color: white;
}

/* MOBILE */
/*@media screen and (max-width: 700px){*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  {

  #container{
    width: 100%;
    /* border: 1px solid white; */
    margin: 0 auto;
    text-align: center;
  }

  h1{
    font-family: 'Harrington-Regular';
    margin-top: 1em;
    font-size: 8em;
  }

  #message{
    width: 90%;
    margin: 0 auto;
    font-family: sans-serif, 'Calibri';
    line-height: 60px;
    margin-bottom: 2em;
    font-size: 4em;
  }
}

/* DESKTOP */
@media screen and (min-width: 700px){
  #container{
    width: 90%;
    /* border: 1px solid white; */
    margin: 0 auto;
    text-align: center;
  }

  h1{
    font-family: 'Harrington-Regular';
    margin-top: 1em;
  }

  #message{
    width: 90%;
    margin: 0 auto;
    font-family: sans-serif, 'Calibri';
    line-height:60px;
    margin-bottom: 2em;
  }
}

/*TABLET*/
@media screen and (max-width: 1000px){
}
