@font-face {
  font-family: 'Harrington-Regular';
    src:  url('https://aniesha08.github.io/cart310/tree/emotions/fonts/Harrington-Regular.ttf.woff') format('woff'),
    url('https://aniesha08.github.io/cart310/tree/emotions/fonts/Harrington-Regular.ttf.svg#Harrington-Regular') format('svg'),
    url('https://aniesha08.github.io/cart310/tree/emotions/fonts/Harrington-Regular.ttf.eot'),
    url('https://aniesha08.github.io/cart310/tree/emotions/fonts/Harrington-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body{
color: white;
}

@media (min-width: 320px) and (max-width: 480px) {

  body {
    background-color: red !important;
  }

  #container{
    width: 100%;
    border: 1px solid white;
    margin: 0 auto;
    text-align: center;
  }

  h1{
    font-family: 'Harrington-Regular';
    margin-top: 1em;
    font-size: 3em;
  }

  #message{
    width: 90%;
    margin: 0 auto;
    font-family: sans-serif, 'Calibri';
    line-height:28px;
    margin-bottom: 2em;
    font-size: 1em;
  }
}



@media only screen and (min-width: 768px) {

#container{
  width: 90%;
  border: 1px solid white;
  margin: 0 auto;
  text-align: center;
}

h1{
  font-family: 'Harrington-Regular';
  margin-top: 1em;
}

#message{
  width: 90%;
  margin: 0 auto;
  font-family: sans-serif, 'Calibri';
  line-height:28px;
  margin-bottom: 2em;
}

}
